<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="review-card.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
<article class="review">
    <div class="review__container">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <p class="review-description"> 	&#8220; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque eveniet ex
            illo laboriosam molestiae
            nesciunt possimus soluta sunt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, possimus?Lorem
            ipsum dolor sit amet, consectetur adipisicing elit
            <input type="checkbox" class="review__button" id="read"><label class="review__label" for="read">...&#8221;
            <span class="review_more">Читать дальше</span></label>
            <span class="review__hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis, deleniti eius illo in obcaecati possimus quos sapiente similique veritatis.</span>
        </p>
    </div>
    <footer class="review-person">
        <img class="review-person__photo" src="./../../../project/images/ava.png" alt="">
        <p class="reviewer">Елена Крушельницкая</p>
    </footer>
</article>

</body>
</html>