<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="information.css">
</head>
<body>
    <section class="information">
        <div class="information__photo">
            <img class="information__image" src="./../../project/images/artistphoto.jpg" alt="photo">
        </div>
        <section class="information__description">
            <h3 class="information__header"> Lorem ipsum dolor sit amet</h3>
            <p class="information__text">
                Lorem ipsum.consectetur adipisicing elit. Debitis eius eos eveniet expedita molestias qui
                ratione velit vitae voluptas voluptatum.
            </p>
            <p class="information__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eius eos eveniet expedita molestias qui
                ratione velit vitae voluptas voluptatum.
            </p>
            <p class="information__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eius eos eveniet expedita molestias qui
                ratione velit vitae voluptas voluptatum.
            </p>
        </section>
    </section>
</body>
</html>