@import url(../style.css);
@import url(order-form.css);
@import url(navigation.css);


:root {
    --i-text-color: var(--sandy-taure);
    --i-hover-text-color: var(--isabelline);
    --logo__rights-text-color: var(--sandy-taure);
    --footer-bg-color: var(--rich-black);
    --footer-border-color: var(--sandy-taure);

}

.footer {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    background: var(--footer-bg-color);
    font-size: 1rem;
    padding: 1.5em 0;
    height: 2em;
    width: 100%;
    border-top: 1px solid var(--footer-border-color);
}


.logo__rights {
    text-transform: initial;
    padding-bottom: 0;
    color: var(--logo__rights-text-color);
    font-size: 0.8em;
}


.footer .logo {
    padding: 0;
    font-size: 0.9em;

}



.logo__social-link {
    display: inline-block;
    text-decoration: none;

}

.logo__social-link i {
    font-size: 1.5em;
    color: var(--i-text-color);

}

.logo__social-link:hover i {
    font-size: 1.5em;
    color: var(--i-hover-text-color);
}


.footer__button {
    position: absolute;

}

.form__container {
    display: none;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10em;
    overflow: auto;
    background: rgba(0,0,0,.5);
    text-align: center;

}


/*

input[type="checkbox"]:checked ~ .order-form {
    display: block;
    position: absolute;
    top: -30em;
}*/
