@import url(../style.css);
@import url('https://fonts.googleapis.com/css?family=Lobster');

:root {
    --mainblock-headline-text-color: var(--sandy-taure);

}

.mainblock {
    font-size: 1rem;
}

.mainblock__photo {
    display: block;
    box-sizing: border-box;
    max-width: 90em;
    width: 100%;
}

.mainblock__headline {
    position: absolute;
    z-index: 1;
    color: var(--mainblock-headline-text-color);
    font-size: 4em;
    font-style: italic;
    font-family: 'Lobster', cursive;
}

.name {
    top: 2.5em;
    animation: nameanim 1s ease-in-out forwards;
}

.lastname {
    top: 3.5em;
    animation: surname 2s ease-in-out forwards;
}

@keyframes nameanim {
    from {
        right: -150em;
    }
    to {
        right: 4em;
    }
}

@keyframes surname {
    from {
        right: -150em;
    }

    to {
        right: 2.5em;
    }

}