@import url(../style.css);
@import url(navigation.css);
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
@import url(button.css);
@import url(footer.css);
@import url(order-form.css);
@import url(main.css);

:root {
    --repertoire-headline-text-color: var(--isabelline);
    --repertoire-song-bg-color: var(--rich-black);
    --repertoire-song-text-color: var(--isabelline);
    --repertoire-song-container-border-color: var(--sandy-taure);
    --repertoire-song-item-border-color: var(--isabelline);
}

.repertoire {
    background: url("../images/musicfon.jpg") no-repeat 100%;
    height: 30em;
    background-size: cover;
    font-size: 1rem;
}

.repertoire__headline {
    padding: 4em;
    font-size: 4em;
    color: var(--repertoire-headline-text-color);
    font-style: italic;
}

.repertoire-song {
    background: var(--repertoire-song-bg-color);
    color: var(--repertoire-song-text-color);
}

.repertoire-song__container {
    width: 70%;
    margin: auto;
    border-bottom: 0.025em solid var(--repertoire-song-container-border-color);
    font-size: 1rem;
    text-align: center;
}

.repertoire-song__headline {
    font-size: 2.5em;
    padding: 2em 0 0.5em;
}

.repertoire-song__text {
    font-size: 1.5em;
    padding-bottom: 1.5em;
}

.repertoire-button {
    margin-bottom: 2em;
}

.repertoire-song__recomend {
    padding: 3em;
    font-size: 0.9em;
}

.repertoire-song__list {
    margin: auto;
    width: 22em;
    padding-bottom: 3em;
    text-align: center;
    list-style: none;
}

.repertoire-song__item {
    border: 1px solid var(--repertoire-song-item-border-color);
    font-size: 0.9em;
    padding: 1em;
}

@media screen and (max-width: 480px) {

    .repertoire {
        height: 12em;
    }

    .repertoire__headline {
        padding: 4em 2em;
        font-size: 1.2em;
        color: var(--repertoire-headline-text-color);
        font-style: italic;
    }

    .repertoire-song__headline {
        font-size: 1.5em;
        padding: 2em 0 0.5em;
    }

    .repertoire-song__text {
        font-size: 0.7em;
        padding-bottom: 1.5em;
    }

    .repertoire-button {
        font-size: 0.7em;
        margin-bottom: 2em;
    }

    .repertoire-song__recomend {
        padding: 2em;
        line-height: 1.5;
        font-size: 0.7em;
    }

    .repertoire-song__list {
        margin: auto;
        width: 18em;
        padding-bottom: 3em;
        text-align: center;
        list-style: none;
    }

    .repertoire-song__item {
        border: 1px solid var(--repertoire-song-item-border-color);
        font-size: 0.7em;
        padding: 1em;
    }

    .footer__button {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .repertoire {
        height: 17em;
    }

    .repertoire__headline {
        padding: 4em 2em;
        font-size: 2em;
        color: var(--repertoire-headline-text-color);
        font-style: italic;
    }

    .repertoire-song__headline {
        font-size: 1.5em;
        padding: 2em 0 0.5em;
    }

    .repertoire-song__text {
        font-size: 0.7em;
        padding-bottom: 1.5em;
    }

    .repertoire-button {
        font-size: 0.7em;
        margin-bottom: 2em;
    }

    .repertoire-song__recomend {
        padding: 2em;
        line-height: 1.5;
        font-size: 0.7em;
    }

    .repertoire-song__list {
        margin: auto;
        text-align: center;
        list-style: none;
        padding-bottom: 3em;
    }

    .repertoire-song__item {
        border: 1px solid var(--repertoire-song-item-border-color);
        font-size: 0.7em;
        padding: 1em;
    }

    .footer__button {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 769px) and (max-width: 990px) {

    .repertoire {
        height: 22em;
    }

    .repertoire__headline {
        padding: 4em 2em;
        font-size: 2.5em;
        color: var(--repertoire-headline-text-color);
        font-style: italic;
    }

    .repertoire-song__headline {
        font-size: 2em;
        padding: 2em 0 0.5em;
    }

    .repertoire-song__text {
        font-size: 0.9em;
        padding-bottom: 1.5em;
    }

    .repertoire-button {
        font-size: 0.7em;
        margin-bottom: 2em;
    }

    .repertoire-song__recomend {
        padding: 2em;
        line-height: 1.5;
        font-size: 0.7em;
    }

    .repertoire-song__list {
        margin: auto;
        text-align: center;
        list-style: none;
        padding-bottom: 3em;
    }

    .repertoire-song__item {
        border: 1px solid var(--repertoire-song-item-border-color);
        font-size: 0.9em;
        padding: 1em;
    }

    .footer__button {
        font-size: 0.7em;
    }
}

