<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="navigation.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <header class="header">
        <div class="header__container">
            <div class="logo"><span>Игорь Долгих</span></div>
            <input type="checkbox" id="menu-checkbox">
            <label class="checkbox__label" for="menu-checkbox"></label>
            <div class="burger-line first"></div>
            <div class="burger-line second"></div>
            <div class="burger-line third"></div>
            <div class="burger-line fourth"></div>
            <nav class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__item"><a class="navigation__link" href="#">Главная</a></li>
                    <li class="navigation__item navigation__item_relative"><button class="navigation__link navigation__link_down">Медиа</button>
                        <ul class="submenu">
                            <li class="submenu__item"><a class="submenu__link" href="#">видео</a></li>
                            <li class="submenu__item"><a class="submenu__link" href="#">аудио</a></li>
                        </ul>
                    </li>
                    <li class="navigation__item"><a class="navigation__link" href="./../page3/page3.html">Репертуар</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="./../page4/page4.html">Отзывы</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="./../page5/page5.html">Контакты</a></li>
                    <li class="navigation__item navigation__item_social">
                        <a class="navigation__social-link" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="navigation__social-link" href="#"><i class="fab fa-vk"></i></a>
                        <a class="navigation__social-link" href="#"><i class="fab fa-facebook-square"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>