@import url(./../../project/style.css);

:root {
    --navigation-link-text-color: var( --isabelline);
    --header-bg-color: var(--rich-black-opacity);
    --logo-text-color: var(--isabelline);
    --navigation-hover-link-color: var(--sandy-taure);
    --submenu-bg-color: var(--rich-black-opacity);
    --submenu-item-border-color: var(--isabelline);
    --submenu-link-text-color: var(--isabelline);
    --submenu-hover-text-color: var(--sandy-taure);
    --i-text-color: var(--sandy-taure);
    --i-hover-text-color: var(--isabelline);
    --burger-line-bg-color: var(--isabelline);
}

* {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    background: var(--header-bg-color);
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 4;
    height: 5em;
    width: 100%;
}

.header__container {
    position: relative;
    display: flex;
    max-width: 1400px;
    height: 5em;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.logo {
    color: var(--logo-text-color);
    font-size: 1.1em;
    text-transform: uppercase;
}

.navigation__item_social {
    padding-left: 3em;
    padding-right: 3em;
}

.navigation__list {
    display: flex;
    list-style: none;
}

.navigation__link {
    display: inline-block;
    margin: 0 0.6em;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--navigation-link-text-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.navigation__link_down {
    background: transparent;
    outline: none;
    border: none;
}

.navigation__link:hover {
    color: var(--navigation-hover-link-color);
}

.navigation__item_relative {
    position: relative;
}

.submenu {
    position: absolute;
    z-index: 1;
    left: -1em;
    top: 4.1em;
    list-style: none;
    text-align: center;
    width: 6em;
    box-shadow: 0 0 2em rgba(0,0,0,0.2);
    visibility: hidden;
}

.navigation__item_relative:hover > .submenu {
    visibility: visible;
}

.submenu {
    background: var(--submenu-bg-color);
    padding: 0;
    border-radius: 0.2em;
}

.submenu__item:first-child {
    border-bottom: 0.025em solid var(--submenu-item-border-color);
}

.submenu__link {
    display: block;
    text-decoration: none;
    color: var(--submenu-link-text-color);
}

.submenu__link:hover {
    color: var(--submenu-hover-text-color);
}

.navigation__social-link i {
    font-size: 1em;
    color: var(--i-text-color);
}

.navigation__social-link:hover i {
    font-size: 1em;
    color: var(--i-hover-text-color);
}
#menu-checkbox {
    display: none;
}

.burger-line {
    fdisplay: none;
}

.checkbox__label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 5em;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.burger-line {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    width: 2.5em;
    height: 0.2em;
    background: var(--burger-line-bg-color);

}

.second, .third {
    top: 2.5em;
}

.fourth {
    top: 3.5em;
}
